<div class="lead mw-300 mx-auto my-5" >
  <div class="px-4 py-3">
    <button (click)="onCancel()" 
            class="btn-close position-absolute top-0 end-0 mt-2 me-2" 
            aria-label="Close"></button>
    
    <div class="text-center mb-4">
      <img [src]="'https://res.cloudinary.com/dtdfno067/image/upload/v1739718323/portfolio/tecnologias/' + data.tecnologia.alt" 
           alt="{{ data.tecnologia.alt }} logo" 
           class="w-25 mx-auto d-block mb-3">
      <h5 class="fw-bold text-light mb-3">{{ data.tecnologia.nombre }}</h5>
    </div>

    <p class="lh-sm">
      {{data.tecnologia.descripcion}}
    </p>
  </div>
</div>