<div class="mw-300 mx-auto my-5" >
  <div class="px-4 py-3">
    <button (click)="onCancel()" 
            class="btn-close position-absolute top-0 end-0 mt-2 me-2" 
            aria-label="Close"></button>
    
    <div class="text-center mb-4">
      <img [src]="data.logoUrl" 
           alt="{{ data.nombre }} logo" 
           class="w-25 mx-auto d-block mb-3">
      <h5 class="fw-bold text-primary mb-3">{{ data.nombre }}</h5>
    </div>

    <p class="lh-sm">
      {{data.descripcion}}
    </p>
  </div>
</div>