<header>
  <div class="row m-5 text-light">
    <div class="offset-lg-2 col-lg-4 d-flex justify-content-center align-items-center">
      <img src="./assets/perfil.jpg" alt="Adrián Sanz" class="w-50 rounded-circle">
    </div>
    <div class="col-lg-4 d-flex justify-content-center flex-column p-5">
      <h1 class="display-1">Adrián Sanz</h1>
      <h2 class="display-6">Desarrollador Full-Stack | Java, Spring y Angular</h2>
      <h3>Madrid y alrededores, España.</h3>
      <div class="pt-2">
        <p><i class="fas fa-envelope"></i> Email: <a href="mailto:sanzadrian@hotmail.es"
            class="contact-link text-decoration-none">{{email}}</a></p>
        <p><i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/sanzadrian"
            class="contact-link text-decoration-none" target="_blank">linkedin.com/in/sanzadrian</a></p>
        <p><i class="fab fa-github"></i> GitHub: <a href="https://github.com/adrianssanz" class="contact-link text-decoration-none"
            target="_blank">github.com/adrianssanz</a></p>
      </div>
    </div>
  </div>
<hr class="w-75 m-auto border-3 border-white">
</header>
