.linea{
    border-left: 1px solid white;
}

.empresa{
    transition: all 0.5s ease;
}

.empresa:hover{
    filter: drop-shadow(0 0 20px rgba(41, 128, 185, 0.7));
    transform: translateY(-5px) scale(1.02);
}