.volver-arriba {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: all 0.5s ease;
  }
  
  .volver-arriba.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .volver-arriba:hover {
    background: linear-gradient(to right, #2980b9, #0056b3);
    box-shadow: 0 0 7px 3px rgba(41, 128, 185, 0.7);
    transform: translateY(-5px) scale(1.02);
  }