<section id="tecnologias">
  <div class="row m-5 text-light">
    <div class="offset-lg-2 col-lg-8">
      <h2 class="display-3">{{ englishActive() ? 'Technologies:' : 'Tecnologías:'}}</h2>
    </div>
  </div>
  <div *ngIf="tecnologias && tecnologias.length > 0; else noTecnologias" class="w-80 m-auto text-light ">
    <div class="row w-75 m-auto text-light">
      <div (click)="abrirModal(tecnologia)"
        *ngFor="let tecnologia of tecnologias" class="col-6 col-md-3 col-lg-2 text-center mb-5 ampliar-logo">
        <img [src]="'https://res.cloudinary.com/dtdfno067/image/upload/v1739718323/portfolio/tecnologias/' + tecnologia.alt" [alt]="tecnologia.alt" class="img-fluid " style="max-height: 100px;">
        <p [innerHTML]="tecnologia.nombre | formatDescripcion"></p>
      </div>
    </div>
  </div>
  <ng-template #noTecnologias>
    <div class="text-center text-light p-5 lead display-6">
      <p>{{ englishActive() ? 'There is no technology data available.' : 'No hay datos de tecnologias disponibles.' }}</p>
    </div>
  </ng-template>
  <hr class="w-75 mt-5 m-auto border-3 border-white">
</section>
