<router-outlet></router-outlet>
<div class="sidebar d-flex flex-column justify-content-center align-items-center d-none d-lg-flex">
  <a class="h2 text-light ampliar" href="mailto:sanzadrian@hotmail.es" target="_blank">
    <i class="fas fa-envelope mb-3"></i>
  </a>
  <a class="h2 text-light ampliar" href="https://github.com/adrianssanz" target="_blank">
    <i class="fab fa-github mb-3"></i>
  </a>
  <a class="h2 text-light ampliar" href="https://www.linkedin.com/in/sanzadrian/" target="_blank">
    <i class="fab fa-linkedin mb-3"></i>
  </a>
</div>
<button [class.visible]="isVisible" (click)="scrollToTop()" class="volver-arriba">
  <div class="d-none d-lg-block volver-arriba-texto">{{ englishActive() ? 'Go up' : 'Volver arriba'}}</div>
  <div class="d-block d-lg-none"><i class="fa-solid fa-arrow-up"></i></div>
</button>
<a (click)="changeLanguage()" *ngIf="englishActive()" class="idioma ampliar">
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg" alt="Bandera de España" width="30" height="30" class="rounded-circle">
</a>
<a (click)="changeLanguage()" *ngIf="!englishActive()" class="idioma ampliar">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/640px-Flag_of_the_United_Kingdom_%283-5%29.svg.png
  " alt="Bandera del Reino Unido" width="30" height="30" class="rounded-circle">
</a>
<div class="cursor-glow" [ngStyle]="{'left.px': x, 'top.px': y}"></div>
<div class="cursor-glow2" [ngStyle]="{'left.px': x, 'top.px': y}"></div>
