.cursor-glow {
  position: fixed;
  pointer-events: none;
  box-shadow: 0 0 1000px 100px #0056b3;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: -1;
}

.cursor-glow2 {
  position: fixed;
  pointer-events: none;
  box-shadow: 0 0 700px 100px #6029b9;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: -1;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  z-index: 1;
}

.sidebar i {
  transition: color 0.3s ease;
}

.sidebar i:hover {
  color: #2684e8;
}

.volver-arriba {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: all 0.5s ease;
}

.idioma {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
}

.logo {
  position: absolute;
  top: 10px;
  left: 7px;
  padding: 10px 20px;
}

.volver-arriba.visible {
  opacity: 1;
  transform: translateY(0);
}

.volver-arriba:hover {
  background: linear-gradient(to right, #2980b9, #0056b3);
  box-shadow: 0 0 7px 3px rgba(41, 128, 185, 0.7);
  transform: translateY(-5px) scale(1.02);
}