<section>
  <div class="row m-5 text-light">
    <div class="offset-lg-2 col-lg-8">
      <h2 class="display-3">Sobre mi:</h2><br>
      <div>
        <p class="lead">
          Técnico Superior en Desarrollo de Aplicaciones Web recién graduado, con sólida formación en front-end y
          back-end.
          Enfocado en el desarrollo de soluciones completas, combinando un enfoque práctico y eficiente con un
          aprendizaje
          continuo para ofrecer resultados de alta calidad.
        </p>
        <br>
        <p class="lead">
          Apasionado por colaborar en proyectos que demandan soluciones innovadoras, siempre buscando mejorar mis
          habilidades técnicas y contribuir al éxito del equipo. Comprometido con el aprendizaje constante y la mejora
          continua para estar al día con las últimas tendencias tecnológicas.
        </p>
      </div>
    </div>
  </div>
  <hr class="w-75 m-auto border-3 border-white">
</section>
