<section>
  <div class="row m-5 text-light">
    <div class="offset-lg-2 col-lg-8">
      <h2 class="display-3">Sobre mi:</h2><br>
      <div>
        <p class="lead">
          Técnico Superior en <strong>Desarrollo de Aplicaciones Web</strong> recién graduado, con formación en
          <strong>front-end</strong> y <strong>back-end</strong>. Enfocado en soluciones completas, combinando un
          enfoque práctico y eficiente con aprendizaje continuo para ofrecer resultados de alta calidad.
        </p>
        <br>
        <p class="lead">
          Apasionado por proyectos que demandan <span class="text-light-blue">soluciones innovadoras</span>, siempre
          mejorando mis habilidades técnicas y contribuyendo al éxito del equipo. Comprometido con el aprendizaje
          constante y la mejora continua para estar al día con las últimas tendencias tecnológicas.
        </p>
        <div class=" github-calendar text-center my-5">
          <a href="https://github.com/adrianssanz" target="_blank">
            <img src="https://ghchart.rshah.org/1d3883/adrianssanz" alt="Github activity chart">
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-75 m-auto border-3 border-white">
</section>
