.github-calendar {
    transition: all 0.5s ease;
}

.github-calendar:hover { 
    transform: translateY(-5px) scale(1.02);
    transition: all 0.5s ease;
}

.github-calendar img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.github-calendar img:hover {
    box-shadow: 0 0 7px 3px rgba(41, 128, 185, 0.7); 
}