/* You can add global styles to this file, and also import other style files */
/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

.ampliar {
  transition: all 0.5s ease;
}

.ampliar:hover {
  filter: drop-shadow(0 0 20px rgba(41, 128, 185, 0.7));
  transform: translateY(-5px) scale(1.02);
}

.ampliar-logo {
  cursor: pointer;
  transition: all 0.5s ease;
}

.ampliar-logo:hover {
  filter: drop-shadow(0 0 20px rgba(41, 128, 185, 0.7));
  transform: translateY(-5px) scale(1.02);
}

.text-light-blue {
  color: rgba(41, 128, 185, 0.7);
}

.volver-inicio {
  font-size: 18px;
  padding: 10px 20px;
  background: linear-gradient(to right, #2980b9, #0056b3);
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.volver-inicio:hover {
  box-shadow: 0 0 7px 3px rgba(41, 128, 185, 0.7);
  transform: translateY(-5px) scale(1.02);
}

.w-80 {
  width: 80% !important;
}

@media (min-width: 1024px) {
    .linea {
        border-bottom: 1px solid white;
    }
}

dialog {
  border: none;
  padding: 0;
  background: transparent;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.dialogo-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.dialogo-contenido img {
  max-width: 80vw; /* 80% del ancho de la ventana */
  max-height: 100%; /* 80% del alto de la ventana */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.mr-3{
  margin-right: 16px;
}

.ml-3{
  margin-left: 16px;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #242a36;
  color: white;
  
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}